<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zchy.lease.web.app.mapper.RoomInfoMapper">

    <resultMap id="getAllList" type="com.zchy.lease.web.app.vo.room.RoomItemVo" autoMapping="true">
        <id property="id" column="id"/>
        <association property="apartmentInfo" javaType="com.zchy.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id property="id" column="apartmentId"/>
        </association>
        <collection property="graphVoList" ofType="com.zchy.lease.web.app.vo.graph.GraphVo"
                    select="selectGraphVoListByRoomId" column="id"/>
        <collection property="labelInfoList" ofType="com.zchy.lease.model.entity.LabelInfo"
                    select="selectLabelInfoListByRoomId" column="id"/>
    </resultMap>

    <select id="getAllList" resultType="com.zchy.lease.web.app.vo.room.RoomItemVo">
        select ri.id,
        ri.room_number,
        ri.rent,
        ai.id as apartmentId,
        ai.name,
        ai.introduction,
        ai.district_id,
        ai.district_name,
        ai.city_id,
        ai.city_name,
        ai.province_id,
        ai.province_name,
        ai.address_detail,
        ai.latitude,
        ai.longitude,
        ai.phone,
        ai.is_release,
        from lease.room_info ri
        left join apartment_info ai on ri.apartment_id = ai.id and ai.is_deleted = 0
        <where>
            ri.is_deleted = 0
            and ri.is_release = 1
            adn ri.id is not in(
                select room_id
                from lease.lease_argument
                where is_deleted = 0
                and status in (2,5)
            )
            <if test="queryVo.provinceId != null">
                and ai.provinceId = #{queryVo.provinceId}
            </if>
            <if test="queryVo.cityId != null">
                and ai.cityId = #{queryVo.cityId}
            </if>
            <if test="queryVo.districtId != null">
                and ai.districtId = #{queryVo.districtId}
            </if>
            <if test="queryVo.minRent != null and queryVo.maxRent != null">
                and ri.rent between #{queryVo.minRent} and #{queryVo.maxRent}
            </if>
            <if test="queryVo.paymentTypeId != null">
                and ri.id in(
                    select room_id
                    from lease.room_payment_type
                    where payment_type_id = #{queryVo.paymentTypeId}
                    and is_deleted = 0
                )
            </if>
        </where>
        <if test="queryVo.orderBy == 'desc' or queryVo.orderBy == 'asc'">
            order by ri.rent ${queryVo.orderBy}
        </if>

    </select>
    <!-- 根据房间ID查询图片列表 -->
    <select id="selectGraphVoListByRoomId" resultType="com.zchy.lease.web.app.vo.graph.GraphVo">
        select id,
               name,
               item_type,
               item_id,
               url
        from graph_info
        where is_deleted = 0
          and item_type = 2
          and item_id = #{id}
    </select>

    <!-- 根据公寓ID查询标签列表 -->
    <select id="selectLabelInfoListByRoomId" resultType="com.zchy.lease.model.entity.LabelInfo">
        select id,
               type,
               name
        from label_info
        where is_deleted = 0
          and id in (select label_id
                     from room_label
                     where is_deleted = 0
                       and room_id = #{id})
    </select>
    <select id="selectMinRentByApartmentId" resultType="java.math.BigDecimal">
        select min(rent)
        from room_info
        where is_deleted = 0
          and is_release = 1
          and apartment_id = #{id}
    </select>
</mapper>
